*{
    /* color: pink; */
    background-color: rgb(243, 236, 175);
}
button{
    font-size: 30px;
}

h1,h2{
    color: darkslateblue;
}
.tag{
    background-color: #e63946;
    color: wheat ;
}
.post a{
    color:rgb(32, 207, 190);
}
footer a{
    color: rgb(206, 84, 84);
}
/* adjacent selector */
input + button{
    background-color: pink ;
}
h2 + button{
    font-size: 20px;
    /* background-color: magenta; */
}
/* direct descendent selector */
footer > a{
    color: blueviolet
}
/* attribute selector */
input[type="password"]{
        color: greenyellow;
}
section[class="post"]{
    background-color: lightgrey;
}
a[href="www.google.com"]{
    color: green;
}