*{
    /* color: pink; */
    background-color: rgb(243, 236, 175);
}
button{
    font-size: 30px;
}

h1,h2{
    color: darkslateblue;
}
.tag{
    background-color: #e63946;
    color: wheat ;
}
.post a{
    color:rgb(32, 207, 190);
    text-decoration: none;
    font-weight: 700;
}
footer a{
    color: rgb(206, 84, 84);
}
/* adjacent selector */
input + button{
    background-color: pink ;
}
h2 + button{
    font-size: 20px;
    /* background-color: magenta; */
}
/* direct descendent selector */
footer > a{
    color: blueviolet
}
/* attribute selector */
input[type="password"]{
        color: greenyellow;
}
section[class="post"]{
    background-color: lightgrey;
}
a[href="www.google.com"]{
    color: green;
}
/* pseudo classes */
.post button:hover{
    background-color: orangered;
    color: papayawhip;
}
.post a:hover{
    text-decoration: underline;
}
.post button:active{
    background-color: rgb(10, 216, 103);
}
.post:nth-of-type(3){
    background-color: rgb(233, 235, 152);
}
/* psuedo element */
h2::first-letter{
    font-size: 30px;

}
p::first-line{
    color: darkorange;
}
p::selection{
    background-color: darkseagreen;
}
/* it will work on whole document ::selection{
    background-color: darkseagreen;
} */