*{
    /* color: pink; */
    background-color: rgb(243, 236, 175);
}
button{
    font-size: 30px;
}

h1,h2{
    color: darkslateblue;
}
.tag{
    background-color: #e63946;
    color: wheat ;
}
.post a{
    color:rgb(32, 207, 190);
}
footer a{
    color: rgb(206, 84, 84);
}